{% extends "base.html" %}

{% block content %}
    <h1>My Blogs</h1>
    <a href='/newpost'>Make New Post</a>

    <hr />

        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% else %}

            <ul>
                {% for blog in blogs %}
                <li>
                    <a href="/blogs?id={{blog.id}}">{{blog.name}}</a>
                    {{blog.body}}
                </li>
                {% endfor %}
            </ul>

        {% endif %}

    <hr />
{% endblock %}